pipeline/pl_check_status.json
{
	"name": "pl_check_status",
	"properties": {
		"activities": [
			{
				"name": "get_enviroment_parameters",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from ( select parameter,value from config.environment) as i\npivot\n(\n    max(value) for parameter in (subscription,rg.adf)\n) as o",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_generic_azure_sqldb",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "wait_for_task_completion",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "get_enviroment_parameters",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@not(equals(variables('v_task_status'),'InProgress'))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "check_task_status",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@concat(\n\t'https://management.azure.com/subscription/',\n\tactivity('get_enviroment_parameters').output.firstRow.subcription,\n\t'/resourceGroups/',\n\tactivity('get_enviroment_parameters').output.firstRow.rg,\n\t'/providers/Microsoft.DataFactory/factories/',\n\tactivity('get_enviroment_parameters').output.firstRow.adf,\n\t'/pipelineruns/',pipeline().parameters.p_run_id,\n       '?api-version-2018-06-01'\n)",
									"type": "Expression"
								},
								"method": "GET",
								"authentication": {
									"type": "MSI",
									"resource": "https://management.azure.com"
								}
							}
						},
						{
							"name": "set_task_status",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "check_task_status",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "v_task_status",
								"value": {
									"value": "@activity('check_task_status').output.status",
									"type": "Expression"
								}
							}
						},
						{
							"name": "task_failed",
							"type": "Fail",
							"dependsOn": [
								{
									"activity": "check_task_status",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"message": "Error",
								"errorCode": "50001"
							}
						}
					],
					"timeout": "0.12:00:00"
				}
			}
		],
		"parameters": {
			"p_run_id": {
				"type": "string"
			},
			"p_job": {
				"type": "string"
			}
		},
		"variables": {
			"v_task_status": {
				"type": "String"
			}
		},
		"folder": {
			"name": "framework"
		},
		"annotations": []
	}
}